@import "tailwindcss";

/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Monda:wght@400;700&display=swap');

.noise-bg {
  background-image: url('/noise.png');
  background-repeat: repeat;
}

.font-monda {
  font-family: 'Monda', sans-serif;
}
